<mat-card>
        <mat-card-header>
            <mat-card-title>
                Capitulos
            </mat-card-title>
            <a mat-button color="primary" [routerLink]="['/chapter/create']">CREAR NUEVO CAPITULO</a>
            <a mat-button color="primary" [routerLink]="['/chapter/resources-list']">CREAR NUEVO CAPITULO</a>
        </mat-card-header>
        <mat-card-content>
            <table mat-table [dataSource]=capitulos class="mat-elevation-z8">
                <!--Columna codigo-->
                <ng-container matColumnDef="numero">
                    <th mat-header-cell *matHeaderCellDef> Código </th>
                    <td mat-cell *matCellDef="let item">
                        {{item.numero}}
                    </td>
                </ng-container>
    
                <!--Columna Descripcion-->
                <ng-container matColumnDef="descripcion">
                    <th mat-header-cell *matHeaderCellDef> Descripción </th>
                    <td mat-cell *matCellDef="let item">
                        {{item.descripcion}}
                    </td>
                </ng-container>
    
                <!--Columna valor Parcial-->
                <ng-container matColumnDef="subtotal">
                    <th mat-header-cell *matHeaderCellDef> Valor Parcial </th>
                    <td mat-cell *matCellDef="let item">
                        {{item.subtotal | currency}}
                    </td>
                </ng-container>

                <!--Boton Editar-->
                <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let item; let index = index">
                        <a mat-icon-button [routerLink]="['/chapter/edit', item.id]">
                            <mat-icon>edit</mat-icon>
                        </a>
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>
    
                <!--Boton Eliminar-->
                <ng-container matColumnDef="delete">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <th mat-header-cell *matHeaderCellDef> Porcentaje </th>
                    <td mat-cell *matCellDef="let row; let index = index">
                        <button mat-icon-button aria-label="Example icon-button with a heart icon">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>
    
    
                <tr mat-header-row *matHeaderRowDef=displayedColumns></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </mat-card-content>
        
    </mat-card>

