<form [formGroup]="form">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Item
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col">
                    <mat-form-field>
                        <input formControlName="codigo" matInput type="text">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field>
                        <input formControlName="descripcion" matInput type="text">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field>
                        <input formControlName="unidad" matInput type="text">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field>
                        <input formControlName="cantidad" matInput type="number">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field>
                        <input formControlName="cantidad" matInput type="number">
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</form>