<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport mode="dialog">
    <mat-toolbar>Presupuestos</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home">Inicio</a>
      <a mat-list-item routerLink="/information">Información</a>
      <a mat-list-item routerLink="/aiu">A.I.U.</a>
      <a mat-list-item routerLink="/analysis">Análisis Unitarios</a>
      <a mat-list-item routerLink="/budget">Ítems de Presupuesto</a>
      <a mat-list-item routerLink="/chapter">Capitulos</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Nombre del Proyecto</span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>
          arrow_drop_down
        </mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openDialogCreate()">
          <span>Nuevo Proyecto</span>
        </button>

        <button mat-menu-item *ngFor="let proyecto of proyectos" (click)="setCurrentProject(proyecto)">
          {{proyecto.nombre_Obra}}
        </button>

      </mat-menu>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>