<mat-card>
    <mat-card-header>
        <mat-card-title>
            Agregar Recurso
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
        </mat-form-field>
        <button mat-raised-button (click)="openDialogResources()"> Crear nuevo Recurso Básico</button>
        <table mat-table [dataSource]='resources' class="mat-elevation-z8">
            <!--Columna codigo-->
            <ng-container matColumnDef="codigo" class="mat-column">
                <th mat-header-cell *matHeaderCellDef> Código </th>
                <td mat-cell *matCellDef="let item" (click)="selectResource(item)">{{item.codigo}}</td>
            </ng-container>

            <!--Columna Descripcion-->
            <ng-container matColumnDef="descripcion" class="mat-column">
                <th mat-header-cell *matHeaderCellDef> Descripción </th>
                <td mat-cell *matCellDef="let item" (click)="selectResource(item)">{{item.descripcion}}</td>
            </ng-container>

            <!--Columna unidad-->
            <ng-container matColumnDef="unidad" class="mat-column">
                <th mat-header-cell *matHeaderCellDef> Unidad </th>
                <td mat-cell *matCellDef="let item">{{item.unidad}}</td>
            </ng-container>

            <!--Columna Precio Unidad-->
            <ng-container matColumnDef="precio" class="mat-column">
                <th mat-header-cell *matHeaderCellDef> Precio </th>
                <td mat-cell *matCellDef="let item">{{(item.precio | currency)}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef=displayedColumns></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
        <mat-paginator [length]="resultsLength" [pageSize]="15"
         (page)="pageEvent = ChangePage($event)"></mat-paginator>
    </mat-card-content>                
</mat-card>