/* Structure */
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}
.mat-column {  
  margin-right: 15px !important;
}

.mat-cell {
  padding: 8px 8px 8px 0;
}

.mat-header-cell {
    padding: 8px 8px 8px 0;
}
